*.example linguist-detectable=false
*.cls linguist-vendored
*.tex linguist-detectable=false
docs/mprop.tex linguist-detectable=true
docs/mpaper.tex linguist-detectable=true
*.vendored.* linguist-vendored
